{% block content %}

<script src="https://www.desmos.com/api/v1.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

<div id="calculator" style="width:100%; height:80vh"></div>


<script>
  const p = {{ set.percentP }}
  const q = 1 - {{ set.percentP }}
  const n = {{ set.n }} 
  const mean = n*p
  const sd = Math.sqrt(n*p*q)
 
  const elt = document.getElementById('calculator');
  const calculator = Desmos.GraphingCalculator(elt);
  calculator.setExpression({ id: 'graph1', latex: `\\operatorname{binomialdist}\\left(${n},${p}\\right)`});

</script>

{% endblock %}