{% block content %}
    <div class="btn-group">
        <a class="btn btn-success" data-toggle="collapse" href="#data-table" role="button" aria-expanded="false" aria-controls="data-table">
            View Data
        </a>
    </div>
    
    <div class="collapse" id="data-table">
        <div style="height: 40vh; overflow:scroll">
        <table class="table table-sm">
            <tr>
                <th scope="col">Value</th>
            </tr>
            {% for value in set.values %}
                <tr>
                    <td>
                        {% if set.p %}
                            {% if value == true %}
                                {{ set.p }}
                            {% else %}
                                {{ set.q }}
                            {% endif %}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}