{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/normalsets/{{ normalSet.id }}?_method=PUT"  method="POST" id="normal-form">
        <fieldset>
                <label class="form-label">Title: </label>
                <input 
                    type="text" 
                    name="title" 
                    value={{ normalSet.title }}
                    class="form-control"
                >
                
        </fieldset>
        <input type="submit" value="Edit Normal Set" class="btn btn-success">
    </form>
</div>
{% endblock %}